storage "consul" {
  address = "127.0.0.1:8500"
  path = "vault/"
}
disable_mlock = true

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = 1
  #tls_cert_file = "/etc/letsencrypt/live/host.labserver.com/fullchain.pem"
  #tls_key_file = "/etc/letsencrypt/live/host.labserver.com/privkey.pem"
}

api_addr = "http://127.0.0.1:8200"
cluster_addr = "https://127.0.0.1:8201"
ui = true
